
.card{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    overflow-y: hidden;
}
.bottom{
    margin: 10px;
    display: flex;
    gap: 10px;
}
.top,.bottom,.middle1{
    width: 100%;
    height: 20%;
}

.middle2{
    height: 40%;
}

.discard_btn , .complete_btn{
    width: 180px;
    height: 30px;
}